<!DOCTYPE html>
<html>
<head>
  <title>Minesweeper</title>
  <!--<link rel='shortcut icon' href='../index.ico' type='image/x-icon'/>-->
  <link rel="stylesheet" type="text/css" href="../static/style.css"/>
  <!-- include jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="topBar">
    <div class="header">
      <h1 id="title">Minesweeper</h1>
    </div>
    <form id = "board-def">
      <ul class="nav-list">
        <li class="nav-text">
          <label for="userIdlabel">UserID: </label>
          <input type="text" id="userID" placeholder="Input ID to get a score" required>
        </li>
        <li class="nav-item">
          <label for="rowslabel">Rows: </label>
          <input type="number" id="rows" min="2" value="10">
        </li>
        <li class="nav-item">
          <label for="colslabel">Cols: </label>
          <input type="number" id="cols" min="2" value="10">
        </li>
        <li class="nav-item">
          <label for="mineslabel">Mines: </label>
          <input type="number" id="mines" min="1" value="10">
        </li>
        <li class="nav-item">
          <button type="button" id="reset" onclick="resetBoard()">Reset</button>
        </li>
      </ul>
    </form>
  </div>
  <br>
  <div id="message">&nbsp</div>
  <br>
  <div id="board" ></div>
  <div id="instructions">
      <h2>Instructions:</h2>
      <ul>
          <li>Left-Click a cell to reveal it.</li>
          <li>If the clicked cell contains a mine, you lose </li>
          <li>If the clicked cell does not contain a mine, it will reveal the number of mines adjadent to it</li>
          <li>Right-Click a cell to flag a cell as a mine</li>
          <li>If all non-mines are clicked, you win!</li>
      </ul>
  </div>
  <script src = "../static/main.js" defer></script>
</body>
</html>
